@font-face {
    font-family: 'titillium_webregular';
    src: url('../src/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../src/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

:root{
    /*master font size defined as 25px, REM makes adjustments carefree*/
    font-size: 140%;
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'titillium_webregular';
    color: white;
    background-color: rgb(11, 13, 15);
    --background-col2: rgba(11, 23, 45, 0.15);
    scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -webkit-text-decoration-color: rgba(255, 255, 255, 0.4);

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

kbd {font-size: 0.62rem;}

body::-webkit-scrollbar{width: 0.25rem;}
body::-webkit-scrollbar-track{background: rgb(46, 50, 58);}
body::-webkit-scrollbar-thumb{background: rgb(62, 66, 73);}
body::-khtml-scrollbar{width: 0.25rem;}
body::-khtml-scrollbar-track{background: rgb(46, 50, 58);}
body::-khtml-scrollbar-thumb{background: rgb(62, 66, 73);}


[class*="y-center"]{
    position: relative;
    top: 45%;
    max-height: 100%;
    transform: translate(0%, -45%);
    --x-dir-margin: 6%;
}

.y-center{margin-left: var(--x-dir-margin);}
.y-center-r{text-align: right; margin-right: var(--x-dir-margin);}

:link{
    color: var(--pagecolor);
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes glow{
    0%{text-shadow: 0px 0px 12px rgb(255,255,255)}
    50%{text-shadow: 0px 0px 2px rgb(255,255,255)}
    100%{text-shadow: 0px 0px 12px rgb(255,255,255)}    
}

.emphasis{
    animation-name: glow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.reactive:hover{
    font-size: 1.05rem;
    text-shadow: 0px 0px 5px rgb(237,237,237);    
}


span {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes cardEmphasis{
    0%{box-shadow: 0 0 2pt 2pt rgba(255, 255, 255, 0.4);}
    50%{box-shadow: 0 0 8pt 2pt rgba(255, 255, 255, 0.4);}
    70%{box-shadow: 0 0 15pt 2pt rgba(255, 255, 255, 0.4);}
    100%{box-shadow: 0 0 1pt 2pt rgba(255, 255, 255, 0.4);}
}


.-polcomp{
    height: 80vh;
    width: 75vw;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    grid-template-columns: 2fr 1fr;
    border-radius: 2px;
    box-shadow: 0 0 2pt 0.3pt rgba(0, 0, 0, 0.2);
    background-color: rgb(23, 23, 23);
    outline: 2px solid rgb(25, 25, 25);
}

-center{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.plot{
    margin: 1rem;
    width: 45rem;
    height: 45rem;
    border: 2px dotted white;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


.toolbar{
    max-height: 100%;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    border-left: 1px solid white;
    position: relative;
    grid-template-rows: 40rem 1rem;
}

.options{


}

.entries{
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;


}


.plotpoint{
    opacity: 100%;
    position: relative;
    margin: 0.5rem;
    padding: 0.6rem;
    max-width: 100%;
    background-color: rgb(40, 42, 54);
    transform: translate(0, 0);

    animation: expand-in 0.7s ease-in;
    transition: 0.5s;
}


@keyframes expand-in{
    from {
        opacity: 0%;
        transform: translate(3rem, 0);
    }}

.plotpoint:hover{
    transform: matrix(1.02, 0, 0, 1.02, 5, 0);
    box-shadow: 0 0 3pt 2pt rgba(255, 255, 255, 20%);
}

.plotpoint-remove{
    transform: matrix(0.63, 0, 0, 0.63, -2rem, 0);
    opacity: 0%;
}

.plotpoint > input[type=text] {
    margin: 0.5rem;
}

.delete{
    transition: 0.4s;
    position: absolute;
    top: 0; right: 0.7rem;
}

.delete:hover{color: rgba(255, 20, 20, 70%);}


slider.polslider{height: 0.02rem;}

span.optionselect {transition: 0.5s;}

span.optionselect:hover{    
    animation: glow 2s ease-in;
}

span.reset:hover{animation: none; color: rgba(235, 20, 20, 80%);}

.sliderctnr {
    display: grid;
    grid-template-columns: 1rem 60% 20%;
    column-gap: 0.4rem;
    height: 1rem; 
    margin-bottom: 0.2rem;
}

img{
    filter: invert(100%) sepia(1%) saturate(2025%) hue-rotate(174deg) brightness(96%) contrast(83%);
    width: 1rem;
    height: 1rem;
}


